 .navbar {
    background-color: #1A0568;
    position: fixed;
    color: white;
  }

.white {
    color: white;

}
.botaonav {
    color: white;
}

.active {
    color: #3410B7;
    background-color: white;
    border: white;
}

.navbar-brand,.navbar-brand:active,.navbar-brand:hover {
    color: white;
}

.navbar-brand {

}
.icon-bar{
    background-color: white;
}

.box {
    background-color: white;
    margin-top: -20px;
    padding: 20px;
    padding-top: 0px;
}

.art {
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: solid 1px grey;
    margin-bottom: 10px;
}

.art h1 {
    color: #1A0568;
}

.art img{
    height: 100px;
    margin: 5px;
    float: left;
}

.art p {
    margin: 0px;
}

@media screen and (max-width: 767px) {
    .box {
      margin-top: -40px;
    }

    .art {
        margin: 20px;
    }

    
  }

#rodape {
    background-color: #1A0568;
    color: white;
}

.form {
    margin: 10px;
}